In [1]:
myset = set()
print(myset)
print(type(myset))

set()
<class 'set'>

In [2]:
myset.add(1)
myset

{1}

In [3]:
myset.add(2)

In [4]:
myset

{1, 2}

In [5]:
myset.add(2)

In [6]:
myset

{1, 2}

In [8]:
mylist = [1, 1, 1, 1, 2, 2, 2, 3, 3, 3, 3, 5, 6, 4, 4, 4, 8]

In [9]:
s = set(mylist)
print(s)

{1, 2, 3, 4, 5, 6, 8}

In [11]:
print(1 in s or 5 in s)

True

In [13]:
set1 = {1, 2, 3, 4}
set2 = {1, 2, 3, 4, 5}

In [14]:
set2.issubset(set1)

False

In [15]:
set1.issubset(set2)

True

In [16]:
set2.issuperset(set1)

True

In [17]:
set1.issuperset(set2)

False

In [18]:
set1.isdisjoint(set2)

False

In [19]:
set2.isdisjoint(set1)

False

In [20]:
set3 = {7, 8, 9}

In [21]:
set3.isdisjoint(set1)

True

In [22]:
set4 = set1.union(set2)
print(set4)

{1, 2, 3, 4, 5}

In [23]:
set4.intersection(set2)

{1, 2, 3, 4, 5}

In [24]:
set2.intersection(set1)

{1, 2, 3, 4}

In [25]:
set2.difference(set1)

{5}

In [28]:
set2.symmetric_difference(set3)

{1, 2, 3, 4, 5, 7, 8, 9}

In [31]:
s1 = {0, 1, 2, 3}
s2 = {1, 2, 3, 4, 5}
s3 = s1.difference(s2)
s4 = s1.symmetric_difference(s2)
print(s3)
print(s4)

{0}
{0, 4, 5}

In [32]:
s1.update(s2)
print(s1)

{0, 1, 2, 3, 4, 5}

In [33]:
s1.remove(1)
print(s1)
s1.discard(42)
print(s1)

{0, 2, 3, 4, 5}
{0, 2, 3, 4, 5}

In [35]:
poped_s = s1.pop()
print(poped_s)

0

In [36]:
s1.clear()

In [37]:
print(s1)

set()